<% provide(:title, '画像一覧') %>
<h2><%= yield(:title)%></h2>
<p>
  現在登録されている画像の一覧です。
</p>
<% @images.each do |image| %>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <b>HSV = (<%= image.mean_h.round(2) %>, <%= image.mean_s.round(2) %>, <%= image.mean_v.round(2) %>)</b>
    </div>
    <div class="panel-body">
      <%= link_to image_tag(image.path.thumb.url), image.path.url if image.path.thumb.url.present? %>
      <div align="center">
        いいねの数: <%= image.fav_count %>
      </div>
    </div>
    <!--
         <div class="panel-footer">
         <%= link_to "編集", edit_image_path(image[:id]), class: 'form-control btn btn-success' %>
         </div>
       -->
  </div>
<% end %>
