<% provide(:title, 'ホーム') %>
<h2>Mosaic Art Generator</h2>

<p>現在完成しているモザイクアート</p>

<div align="center">
  <%= image_tag('/output.jpg') %>
</div>

<p>現在登録されている画像の数: <%= @images_num %></p>

<p>メニューから素材画像を登録してください。</p>

<br>
<% if @log.size == 0 || @log[@log.size - 1].chomp == 'end' %>
  <h2>モザイクアート生成器</h2>
  <%= form_for(@target, url: static_pages_create_path, html: { class: "form-horizontal" }) do |f| %>
    <%= form_file_field f, :path, '目標画像' %>
    <%= form_submit f, 'モザイクアートを生成する' %>
  <% end %>
<% else %>
  <h2>モザイクアート生成ログ</h2>
  <p>
    <% @log.each do |l| %>
      <%= simple_format(l) %>
    <% end %>
  </p>
<% end %>
